**/.vs/
bin/Debug/
obj/Debug/

helloWorld/helloWorld/bin/Debug/
helloWorld/helloWorld/obj/Debug/

Circulo/Circulo/bin/Debug/
Circulo/Circulo/obj/Debug/

OperadoresLogicos/OperadoresLogicos/bin/Debug/
OperadoresLogicos/OperadoresLogicos/obj/Debug/

OperadorRelacional/OperadorRelacional/bin/Debug/
OperadorRelacional/OperadorRelacional/obj/Debug/