**/.vs/
bin/Debug/
obj/Debug/

helloWorld/helloWorld/bin/Debug/
helloWorld/helloWorld/obj/Debug/

Circulo/Circulo/bin/Debug/
Circulo/Circulo/obj/Debug/

OperadoresLogicos/OperadoresLogicos/bin/Debug/
OperadoresLogicos/OperadoresLogicos/obj/Debug/

OperadorRelacional/OperadorRelacional/bin/Debug/
OperadorRelacional/OperadorRelacional/obj/Debug/

Strings/Strings/bin/Debug/
Strings/Strings/obj/Debug/

ifExample/ifExample/bin/Debug/
ifExample/ifExample/obj/Debug/


SwitchExample/SwitchExample/bin/Debug/
SwitchExample/SwitchExample/obj/Debug/